extends ../shared/template

block content
  h1 Tree Farm!

  #userlogin
    input#username(type=text, autofocus=true, placeholder='Username')
    button#login Log in

  #forest

  #items

  #dashboard

block scripts
  script(src='/js/es6/compiled/game.js')
