@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Coming Soon', cursive;
  background-color: #b8d3a3;
}

.alive.seed {
  background-image: url('/img/seed.png');
}
.alive.sapling {
  background-image: url('/img/sapling.png');
}
.alive.treenager {
  background-image: url('/img/treenager.png');
}
.alive.adult {
  background-image: url('/img/adult.png');
}
.alive.adult.beanstalk {
  background-image: url('/img/beanstalk.png');
}

.dead {
  background-image: url('/img/dead.png');
}

.stump {
  background-image: url('/img/stump.png');
}

.tree {
  width: 50px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  .height {
    margin-top: 45px;
  }
}

#forest {
  width: 60%;
  margin: 0 5%;
  border-radius: 15px;
  margin-bottom: 25px;
  float: left;
  background-color: #b3a17b;
  -webkit-box-shadow: inset -1px 15px 44px 12px rgba(117,93,45,0.3);
  -moz-box-shadow: inset -1px 15px 44px 12px rgba(117,93,45,0.3);
  box-shadow: inset -1px 15px 44px 12px rgba(117,93,45,0.3);
}

#items {
  margin: 5%;
  float: left;
  .item {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 3px 9px 29px 4px rgba(84,97,73,1);
    -moz-box-shadow: 3px 9px 29px 4px rgba(84,97,73,1);
    box-shadow: 3px 9px 29px 4px rgba(84,97,73,1);
    #slider {
      width: 90%;
      padding-left: 25px;
      margin: 0 auto;
    }
  }
}

.on {
  border: 1px solid rgba(241, 241, 241, 0.52);
  background-color: #77945f;
  color: #eee;
  -webkit-box-shadow: inset -1px 15px 93px 12px rgba(84,97,73,1) !important;
  -moz-box-shadow: inset -1px 15px 93px 12px rgba(84,97,73,1) !important;
  box-shadow: inset -1px 15px 93px 12px rgba(84,97,73,1) !important;
}


#dashboard {
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 15px;
  background: #000;
  color: #fff;
  #user, #wood, #cash, #controls {
    display: inline-block;
    margin: 0 25px;
  }
  #user {
    font-weight: bold;
  }
  #wood::before{
    content: 'Wood: '
  }
  #cash::before{
    content: '$'
  }
  #controls {
    color: #000;
    button{
      margin: 0 35px 0 15px;
      font-weight: bold;
    }
  }
}

h1 {
  text-align: center;
  margin: 0;
}

#userlogin {
  text-align: center;
  margin: 0 0 15px 0;
}
