#user(data-id=user._id.toString())= user.username
#wood #{parseInt(user.wood)}
#cash #{parseInt(user.cash)}

#controls
  button#plant Plant Seed

  input#cashout(type=text, name='cashout', placeholder='How much wood to cash out?')
  button#getcash Cash Out

  if(user.isAutogrowAvailable)
    button#getautogrow Get Autogrow

  if(user.isAutoseedAvailable)
    button#getautoseed Get Autoseed

  if(user.isAutorootAvailable)
    button#getautoroot Get Autoroot
