#user(data-id=user._id.toString())= user.username
#wood= user.wood
#cash= user.cash

#controls
  button#plant Plant Seed
  button#getforest Get Forest

  input#cashout(type=text, name='cashout', placeholder='How much wood to cash out?')
  button#getcash Cash Out
