.tree(data-id=tree._id.toString(), class=tree.getClass())
  .height= tree.height
  .controls
    if(tree.isHealthy)
      button.grow Grow
    if(tree.isHealthy && tree.height >= '24')
      button.chop Chop
